#container{
    border: 2px solid black;
    height: 40vw;
    width: 40vw;
    margin: auto;
    background: url('clock.png');
    background-size: 100%;
    position: relative;
}
#hour{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    width: 2%;
    height: 27%;
    top: 23%;
    left: 48.79%;
    transform-origin: bottom;
    opacity: 0.8;
    /* display: none; */
    
}
#min{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    width: 1.7%;
    height: 30%;
    top: 20%;
    left: 48.8%;
    transform-origin: bottom;
    /* display: none; */

}
#sec{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    width: 1.3%;
    height: 33%;
    top: 17%;
    left: 49.13%;
    transform-origin: bottom;
    opacity: 0.8;
    /* display: none; */
}